html,
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar {
    margin-bottom: 0 !important;
    color: white !important;
}

#popularContainer,
#allMovies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 1rem;
    font-size: 12px;
}

.popularCards h3,
.movieCard h3 {
    font-size: 16px !important;
    text-align: center;
    margin-top: 0.5rem;
}

.popularCards img,
.movieCard img {
    width: 13rem;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

#allMovies {
    margin-top: 2rem;
}

.movieCard {
    text-align: center;
}

/* media queries för allMovies*/

@media (min-width: 768px) {
    #popularContainer,
    #allMovies {
        grid-template-columns: repeat(3, 1fr);
    }
    .fav-btn {
        top: 0.75rem;
        left: 0.75rem;
    }
}

@media (min-width: 992px) {
    #popularContainer,
    #allMovies {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    #popularContainer,
    #allMovies {
        grid-template-columns: repeat(5, 1fr);
    }
}

.popularCards,
.movieCard {
    margin-top: 2rem;
    background-size: cover;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.popularCards:hover,
.movieCardContent:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popularCards h3,
p {
    pointer-events: none;
}

#backgroundImg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 28rem !important;
    object-fit: cover;
    z-index: -1;
}

.fav-btn {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-size: 18px;
    z-index: 100;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

@media (max-width: 767px) {
    .fav-btn {
        top: 0.75rem;
        left: 0.75rem;
    }

    .popularCards,
    .movieCard {
        position: relative;
    }
}
