html,
body {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar {
    margin-bottom: 0 !important;
    color: white !important;
}

#popularContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 12px;
}

.popularCardContent h3 {
    font-size: 16px !important;
    text-align: center;
}

.popularCardContent img {
    width: 13rem;
    height: auto;
}

.popularCards {
    margin-top: 2rem;
    background-size: cover;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}

.popularCards:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.popularCards h3,
p {
    pointer-events: none;
}

#backgroundImg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 28rem !important;
    object-fit: cover;
    z-index: -1;
}

.fav-btn {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: inherit;
    font-size: 18px;
    z-index: 100;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
