#popularContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 12px;
}

.popularCardContent h3 {
    font-size: 16px !important;
    text-align: center;
}

.popularCardContent img {
    width: 13rem;
    height: auto;
}

#backgroundImg {
    background-image: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}
